<!DOCTYPE html>
<html ng-app="main">
<head lang="zh">
    <meta charset="UTF-8">
    <title>测试组件</title>
    <link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../less/nezha.css">
</head>
<body>
    <div class="container" ng-controller="component">
        <div class="row">
            <div class="h3">表单组件</div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">搜索</label>
                    <div class="col-sm-10">
                        <div class="nz-search form-control" value="value" search="search()"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">水果</label>
                    <div class="col-sm-10">
                        <div class="nz-select" data="fruit">
                            <div class="nz-menu">
                                <div class="nz-item" ng-repeat="item in fruit">
                                    <input type="checkbox">
                                    <span>{{item}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="h3">window</div>
            <button class="btn btn-default" ng-click="openWindow()">打开窗口</button>
        </div>
        <div class="row">
            <div class="h3">表格</div>
        </div>

        <div class="row">
            <div class="h3">菜单</div>
            <nz-menus services="services"></nz-menus>
        </div>
    </div>
    <script type="application/javascript" src="require.js"></script>
    <script type="application/javascript" src="jquery.min.js"></script>
    <script type="application/javascript" src="../angular/angular.min.js"></script>
    <script type="application/javascript" src="../ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="application/javascript" src="../js/searchbox.js"></script>
    <script type="application/javascript" src="../js/menus.js"></script>
    <script type="application/javascript" src="../js/select.js"></script>
    <script type="application/javascript" src="main.js"></script>
</body>
</html>