* {
  margin: 0;
  padding: 0;
}
*, *:before, *.after {
  box-sizing: border-box;
}
@border: 1px solid @color;
@no-border: 0 none;
@no-outline: 0 none;
@radius: 3px; //圆角
@color: #ccc;
@form-item-height: 36px; //表单控件高度36px