* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*.after {
  box-sizing: border-box;
}
.search-box {
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0 10px;
  height: 36px;
}
.search-box .search-by {
  border: 0 none;
  outline: 0 none;
  height: 100%;
}
.search-box a {
  color: #cccccc;
  text-decoration: none;
}
.search-box a.clear {
  opacity: 0;
}
.focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.canClick {
    .btn-link;
    cursor: pointer;
    text-decoration: none;
}
.canClick:hover, .canClick:focus {
    text-decoration: none;
}